{
	order token first
	debug
}

:3000 {
	log {
		output stdout # Send logs to standard output
		level info # Log all debug messages and above
		format filter {
			request>headers>X-Id-Token replace REDACTED
			request>headers>X-Api-Token replace REDACTED
		}
	}
	token {
		jwt {
		    issuer https://dex.issuer.lan
		    group admin
		}
		file tokenfile
	}

	reverse_proxy https://some.service.internal {
		header_up Host {http.reverse_proxy.upstream.hostport}
	}
}
